@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #fffaff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-center {
  text-align: center;
}

.section {
  height: 100vh;
}

.section-content {
  position: relative;
  background-color: #fffaff;
  margin-top: 10px;
  overflow: auto;
  z-index: 1;
  height: 100vh;
  padding-top: 0;
}

.section-title {
  position: relative;
  width: 6px;
  height: 72px;
  background-color: #2c666e;
  /* padding-left: 40px; */
  top: 0;
  left: 30px;
  margin-bottom: 20px;
}

.title-h3 {
  color: #041230;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 25px;
  margin-bottom: 100px;
}

.title-icon {
  color: #2c666e;
  font-size: 40px;
  margin: 5px 0 0 20px;
  visibility: hidden;
}

.container {
  width: 100%;
}
