.project-img {
  /* border: 8px double #2c666e; */
  background-color: #041230;
  width: 100%;
  height: 100%;
}

.img-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px 0 0 7.5%;
}

/* .img-container:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
} */

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-image: linear-gradient(right, #c75000, #c36d33);
  border-radius: 50px;
  margin: 0 20px 0 20px;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.img-text {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*------------ Laptops and Desktops------------ */
@media only screen and (min-width: 1224px) {
  .project-img {
    /* border: 8px double #2c666e; */
    background-color: #ffffff;
    width: 320px;
    height: 320px;
    opacity: 1;
    margin-left: 20px;
  }
  .project-img:last-child {
    margin-right: 20px;
  }

  .img-container {
    position: relative;
    width: 320px;
    height: 320px;
    margin-right: 20px;
  }

  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    background-image: linear-gradient(135deg, #c75000, #c59474);
    border-radius: 50px;

    margin: 0 20px 0 20px;
  }

  .img-container:hover .img-overlay {
    opacity: 1;

    -webkit-box-shadow: 3px 14px 5px 0px #644b39;
    -moz-box-shadow: 3px 14px 5px 0px #644b39;
    box-shadow: 3px 14px 5px 0px #644b39;
  }

  .img-container:hover .project-img {
    opacity: 0;
    transition: 0.5s ease;
  }

  .img-text {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
