.project-img-container {
  position: relative;
  display: flex;

  align-content: center;
  justify-content: center;
  flex-direction: column;

  margin: 20px 0 0 0;
  z-index: 0;
}

/* --------------Laptop and Desktop---------------------- */
@media only screen and (min-width: 1224px) {
  .project-img-container {
    position: relative;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 120px 60px 0 auto;
    z-index: 5;
  }
}
